<link rel="stylesheet" href="/components/drawer-menu/drawer-menu.css">

<!-- TODO: Add header animation -->
<header class="header">
  <nav class="header__nav">
    <a class="header__logo" href="#"> haitruongdev.com </a>

    <ul class="header__menu">
      <li class="header__menu-item">
        <a class="header__menu-link" href="#about">About Me</a>
      </li>
      <li class="header__menu-item">
        <a class="header__menu-link" href="#exp">My Experience</a>
      </li>
      <li class="header__menu-item">
        <a class="header__menu-link" href="#project">My Projects</a>
      </li>
      <li class="header__menu-item">
        <a class="header__menu-link" href="#contact">Contact Me</a>
      </li>
    </ul>

    <button class="header__expand-menu-btn">
      <img
        class="header__expand-menu-icon"
        src="./assets/icons/menu-button.svg"
        alt="Expand Menu Button"
      />
    </button>

    <div class="drawer-container">
      <div class="overlay"></div>

      <div class="menu-sm__container">
        <img
          class="menu-sm__close-btn"
          src="../assets/icons/close.svg"
          alt="close button"
        />

        <ul class="menu-sm">
          <li class="menu-sm__item">
            <a class="menu-sm__link" href="#about">About Me</a>
          </li>
          <li class="menu-sm__item">
            <a class="menu-sm__link" href="#exp">My Experience</a>
          </li>
          <li class="menu-sm__item">
            <a class="menu-sm__link" href="#project">My Projects</a>
          </li>
          <li class="menu-sm__item">
            <a class="menu-sm__link" href="#contact">Contact Me</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
