* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact__form {
  width: 20rem;
  position: relative;
}

.contact__form[status="submitted"] .contact__form-content,
.contact__form[status="error"] .contact__form-content,
.contact__form-submitted,
.contact__form-error {
  display: none;
}

.contact__form[status="submitted"] .contact__form-submitted,
.contact__form[status="error"] .contact__form-error {
  display: block;
}

.contact__form-group:not(:last-child) {
  margin-bottom: 1rem;
}

.contact__form-input {
  margin-top: 0.5rem;
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: 1px solid black;
}

.contact__form-submit {
  background-color: #000000;
  border-radius: 4px;
  border: none;
  color: #eeeeee;
  font-weight: 700;
  padding: 0.75rem 1.5rem;
  width: 100%;
  font-size: 1rem;
  cursor: pointer;
}

/* Loader */
.status-indicator {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.contact__form[status="loading"] .status-indicator {
  display: flex;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #000;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
/* Loader */
